/Questão01/nbproject/private/
/Questão01/build/
/Questão02/nbproject/private/
/Java/Trabalho01/Questão02-03/nbproject/private/
/Java/Trabalho01/Questão02-03/build/
/Questão04/nbproject/private/
/Questão04/build/
/Questão05/nbproject/private/
/Questão10/nbproject/private/
/Questão10/build/
/Questão09/nbproject/private/
/Questão09/build/
/Questão09/dist/
/Questão06/nbproject/private/
/Questão06/build/
/Questão07/nbproject/private/
/Java/Trabalho01/Questão10/build/
/Java/Trabalho01/Questão10/nbproject/private/
/Java/Trabalho01/Questão05/build/
/Java/Trabalho01/Questão06/nbproject/private/
/Java/Trabalho01/Questão06/build/
/Java/Trabalho01/Questão07/nbproject/private/
/Java/Trabalho01/Questão09/nbproject/private/
/Questão08/nbproject/private/
/Java/Trabalho01/Questão07/build/
/Java/Trabalho01/Questão08/build/
/Java/Trabalho01/Questão09/build/
/Trabalho02/nbproject/private/
/Java/Aula09/nbproject/private/
