/Questão01/nbproject/private/
/Questão01/build/
/Questão02/nbproject/private/
/Java/Trabalho01/Questão02-03/nbproject/private/
/Java/Trabalho01/Questão02-03/build/
/Questão04/nbproject/private/
/Questão04/build/
/Questão05/nbproject/private/
/Questão10/nbproject/private/
/Questão10/build/
